.container {
  display: grid;
}
.header {
  background-position-y: center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background: url(https://mcdonalds.ge/356161295834-resized.jpg);
  height: 330px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.header p {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
}
.section {
  justify-self: center;
  width: 50%;
  margin: 50px;
}
.top ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 50px;
}
.liItem {
  width: 25%;
  text-align: center;
}
.liItem img {
  width: 120px;
}
.liItem p {
  font-size: 14px;
}
.app {
  margin-top: 30px;
  background-color: #ffbc0d;
  border-radius: 20px;
  padding: 0px 5%;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
}
.app aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
}
.app h2 {
  width: 150px;
  font-size: 20px;
  font-weight: 900;
}
.hand {
  width: 165px;
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.appLink img {
  margin: 10px;
}
.cheese {
  position: absolute;
  bottom: -36px;
  left: 50px;
}
