.container {
  display: grid;
}
.header {
  background-position-y: center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background: url(https://mcdonalds.ge/356161295834-resized.jpg);
  height: 330px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}
.header p {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
}
.section {
  justify-self: center;
  width: 50%;
  margin: 50px;
}
.top ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 50px;
}
.liItem {
  width: 25%;
  text-align: center;
}
.liItem img {
  width: 120px;
}
.liItem p {
  font-size: 14px;
}
.video {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 350px;
  background: url(https://mcdonalds.ge/356161295834-resized.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px 0px;
}
.playButton {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(30px);
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.app {
  margin-top: 30px;
  background-color: #ffbc0d;
  border-radius: 20px;
  padding: 0px 5%;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
}
.app aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
}
.app h2 {
  width: 150px;
  font-size: 20px;
  font-weight: 900;
}
.hand {
  width: 165px;
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.appLink img {
  margin: 10px;
}
.cheese {
  position: absolute;
  bottom: -36px;
  left: 50px;
}
.videoContent {
  align-self: center;
  justify-self: center;
  width: 70%;
  height: 590px;
  position: fixed;
  top: 30%;
  display: flex;
  justify-content: center;
  z-index: 3;
  align-items: center;
}
.videoContent iframe {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
.videoContent img {
  height: 30px;
  width: 30px;
}
.videoContent div {
  background-color: #ffbc0d;
  position: fixed;
  z-index: 3;
  top: 25%;
  right: 18%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
