* {
  padding: 0px;
  margin: 0px;
  color: #292929;
  font-family: "Quicksand", sans-serif;
}
/* .App{
  min-height: 100vh;
} */
.i4ewOd-pzNkMb-haAclf {
  background-color: #ffbc0d !important;
}
img {
  image-rendering: optimizeSpeed;
}
main{
  margin-top: 2%;
  
}
